/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}







/*CODE STARTS FROM HERE */
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  text-decoration: none;
}
header li, a, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
header {
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topnavbar {
  padding: 9px 25px;
  background-color: rgb(133, 124, 133);
  border: none;
  border-radius: 10px;
}
.header-logo {
  cursor: pointer;
}
.nav_links {
  list-style: none;
  margin-right: 500px;
}
.nav_links li {
  display: block;
  float: left;
}
.nav_links li a {
  padding: 9px 25px;
  background-color: rgb(133, 124, 133);
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
.nav-links li a:hover {
  font-weight: bold;
  font-size: 22px;
}
header button {
  margin-right: 100px;
  padding: 9px 25px;
  background-color: rgba(13, 159, 195, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
button:hover {
  background-color: rgba(13, 159, 195, 0.8);
}
.active {
  font-weight: bold;
}

.Display_data h3 {
  margin-left: 5%;
  font-size: 40px;
  font-family: 'Catamaran', monospace;
  word-spacing: 10px;
  font-weight: bold;
  display: inline-block;
  background-image: linear-gradient(135deg, #0d8b12 0%, #73ff67 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.pakistan_data h3 {
  margin-left: 5%;
  font-size: 40px;
  font-family: 'Catamaran', monospace;
  word-spacing: 10px;
  font-weight: bold;
  display: inline-block;
  background-image: linear-gradient(135deg, #0d8b12 0%, #73ff67 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.BorderBox
{
  width: 940px;
  height: 200px;
  margin-left: 5%;
  border-radius: 15px;
}
.confirmedcases
{
  margin-top: 40px;
  width: 300px;
  height: 120px;
  border-radius: 10px;
  /* padding: 50px;*/
}
.activecases
{
  margin-top:-122px;
  margin-left: 440px;
  width: 300px;
  height: 120px;
  border-radius: 10px;
  /* padding: 50px;*/
}
.recoveries
{
  margin-top: 40px;
  width: 300px;
  height: 120px;
     background-color:#81d690;
  border-radius: 10px;
  /* padding: 50px;*/
}
.deaths
{
  margin-top:-122px;

  margin-left: 440px;
  width: 300px;
  height: 120px;
  background-color:#ed8e8e;
  border-radius: 10px;
  /* padding: 50px;*/
}

.Boxx
{
  text-align: center;
  font-size: 20px;
}

hr {
  border: none;
  align-self: left;
  margin-left: 5%;
  margin-top: 12px;
  margin-bottom: 20px;
  opacity: 0.5;
  width: 75%;
  height: 3px;
  background: #000000;
}
table {
  margin-left: 5%;
  border-collapse: collapse;
  width: 75%;
  color: #588c7e;
  font-family: monospace;
  font-size: 25px;
  text-align: center;
}
.h2
{
background-color:#81d690;
}
td {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  color: rgb(0, 0, 0);
}
th {
padding-top: 5px;
padding-right: 5px;
margin-bottom: 10px;
padding-bottom: 5px;
color: white;
}

tr:nth-child(odd) {background-color: #f2f2f2;}

footer
{
  width: calc(100% - 80px);
  padding: 40px 40px;
  background-color: #111;
  margin-top: 20px;
}

footer p
{
  color: rgb(250, 250, 250);
  font-family: 'Catamaran', sans-serif;
  text-align: center;
}
