@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
}
body {
  background-color: #fafdfe;
font-family: 'Roboto', sans-serif;
}
header
{
  background-color: #074907;
  width: 100%;
  height: 100px;
}
header nav
{
  width: 100%;
  height: 100px;
  background-color: rgb(245, 249, 239);
  position: fixed;
  top: 0;
  display: block;
}
header .header-logo
{
  font-family: 'Catamaran', sans-serif;
  font-size: 40px;
  color: rgb(2, 130, 29);
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  margin: 31px 0;
  text-align: left;
  line-height: 38px;
  padding: 0px 20px 0px 20px;
  border-right: 3px solid #111;
  float: left;
  z-index: 1;
  top: 0;
  position: fixed;
}
.navbar-2
{
  margin-left: 950px;
  margin-right: 314px;
  top: 50%;
  left: 50%;
  list-style: none;
}
.navbar-2 ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #323030;
}
.navbar-2 li
{
  float: left;
  border-right: 1px solid #bbb;
}
.navbar-2 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: .4s;
}
.navbar-2 li a:hover
{
  background-color: #201f1f;
  font-weight: 550;
}
.active-sub
{
  background-color: #201f1f;
  font-weight: 550;
}
header nav ul
{
  display: block;
  width: fit-content;
  padding-left: 200px;
  margin: 20px 0px 0px 100px;
  float: left;
}
header nav li
{
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 16px;
  padding-right: 100px;
}
header nav li a
{
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
  color: rgb(21, 232, 94);
  line-height: 60px;
  text-transform: uppercase;
}
.navbar a:hover {

  color: #095d1d;
}
header .login
{
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-size: 24px;
  color: rgb(21, 232, 94);
  line-height: 38px;
  text-transform: uppercase;
  border: 1px solid #111;
  float: right;
  margin-top: 30px;
  margin-right: 40px;
  padding: 0 20px;
}
.sidebar {
position: fixed;
left: 0px;
width: 250px;
height: 100%;
background: #042331;
transition: all .5s ease;
}
.sidebar header {
font-size: 22px;
color: white;
line-height: 70px;
text-align: center;
background: #063146;
user-select: none;
}
.sidebar ul a{
display: block;
height: 100%;
width: 100%;
line-height: 65px;
font-size: 20px;
color: white;
padding-left: 40px;
box-sizing: border-box;
border-bottom: 1px solid black;
border-top: 1px solid rgba(255,255,255,.1);
transition: .4s;
}
.sidebar ul a i{
margin-right: 16px;
}
.sidebar ul a:hover
{
  font-weight: 700;
}
.active-ul
{
  font-weight: 700;
}
.Form-section h2
{
  margin-top: 50px;
  margin-left: 22%;
  color: rgb(3, 3, 2);
}
hr
{
  border: none;
  align-self: center;
  margin-left: 22%;
  margin-top: 12px;
  opacity: 0.5;
  width: 50%;
  height: 3px;
  background: #000000;
}
form {
  margin: 20px auto auto 22%;
  width: 950px;
  color: steelblue;
}
input {
  padding: 8px;
  font-size: inherit;

}
input[type="text"]
{
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: 2px solid steelblue;
  background: white;
}
.gender-type
{
  padding: 8px;
  font-size: inherit;
  display: inline-block;
  margin-bottom: 25px;
  width: 50%;
  border: 2px solid steelblue;
  background: LightYellow;
  float: right;
  position: relative;
  background: white;
}
.gender-type-first
{
  padding: 8px;
  font-size: inherit;
  display: inline-block;
  margin-bottom: 25px;
  width: 47%;
  border: 2px solid steelblue;
  background: LightYellow;
  float: left;
  position: relative;
  background: white;

}
.first
{
  display: inline-block;
  width: 45% !important;
  position: relative !important;
  float: left !important;
}
.third
{
  width: 98% !important;
}
.second
{
  display: inline-block;
  width: 48% !important;
  position: relative !important;
  float: right !important;
}
input[type="submit"]
{
  width: 244px;
  height: 45px;
  border: none;
  margin-top: 20px;
  margin-left: 705px;
  background: steelblue;
  color: white;
}
input[type="text"]:hover{
  background: LightYellow;
}
input[type="text"]:focus{
  background: LightYellow;
}
.gender-type:hover, .gender-type-first:hover
{background: LightYellow;}

</style>
