<!DOCTYPE HTML>
<html>
<head>
<title>
HPI - Administration Database
</title>
<!-- <link rel="stylesheet" type="text/css" href="pak-style.css"> -->

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <link rel="stylesheet" href="css/maincss.css">
  <header>
 
<nav class = "topnavbar">
<ul class ="nav_links">
  <li><a  href="Home">HOME</a></li>
  <li><a class="active" href="pak-stats">STATISTICS</a></li>
  <li><a href="Contact">CONTACT</a></li>
</ul>
</nav>
</header>
<br>
<div class="sidebar">
<ul>
<li class= "active-ul"><a href="patient-add"><i class="fas fa-user-injured"></i>Patient</a></li>
<li><a href="doctor-add"><i class="fas fa-user-md"></i>Doctor</a></li>
<li><a href="quarantine-add"><i class="fas fa-building"></i>Quarantine Ward</a></li>
<li><a href="isolation-add"><i class="fas fa-procedures"></i>Isolation Ward</a></li>
<li><a href="logs"><i class="fas fa-server"></i>Logs</a></li>
</ul>
</div>

<section class ="Form-section">
<div class="navbar-2">
<ul>
 <li><a href="patient-add">Add Record</a></li>
 <li><a class="active-sub" href="patient-delete">Delete Record</a>
   <li><a href="patient-update">Update Record</a>
 <li><a href="patient-display">Search Record</a>
</ul>
</div>
<br><br><br><br>
<form action="patient-delete.html" method="POST">
  <div class="container" style = "margin-left: 21%;">

  <select id="text" name="selected_col" class = "gender-type" placeholder ="Select Attribute">
       <option value="patient_id" selected disabled hidden>
             Select Attribute to Delete
         </option>
     <option value="patient_id">Patient ID</option>
     <option value="p_name">Patient Name</option>
     <option value="p_gender">Patient Gender</option>
     <option value="p_address">Patient Address</option>
     <option value="p_phone_no">Patient Phone</option>
     <option value="p_age">Patient Age</option>
     <option value="p_CNIC">Patient CNIC</option>
     <option value="p_isolation_id">Patient Isolation Center</option>
     <option value="p_quarantine_id">Patient Quarantine Center</option>
     <option value="p_city">Patient City</option>
     <option value="p_province">Patient Province</option>
     <option value="p_status">Patient Status</option>
   </select>
   <input style="margin-left: 200px" type="text" class = "Search-box" placeholder="Enter Value.." name="search">
       <input  type="submit" class = "Search-button" name = "Submit-Button" value="Delete Record">
     </form>


</div>
<br><br>

<section class = "Display_data">
<!-- <h3>Search Results</h3>
<p style = "margin-left: 22%; font-size: 22px; font-weight: bold; color: rgb(99, 18, 3); text-align: left;">Following records have been deleted from the database...</p> -->
<br>
<hr>
<br><br>
<div style = "margin-left: 18%; display: block; max-height: 1600px; overflow: scroll; max-width: 80%;">
<div style = "width: 1500px;";>
<table>
<tr style="background-color: rgb(255, 255, 255);">
<th style="padding-left: 10px; background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); text-align: left !important; font-weight: bold;  background-image: linear-gradient(135deg, #000000 0%, #55594a 100%);   -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;">Patient ID</th>
<th style="color:rgb(11, 1, 11); font-weight: bold;  background-image: linear-gradient(135deg, #000000 0%, #777d66 100%);   -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
	background-clip: text;">Patient Name</th>
<th style="color:rgb(11, 1, 11); font-weight: bold;  background-image: linear-gradient(135deg, #000000 0%, #777d66 100%);   -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;">Patient Gender</th>
<th style="color:rgb(11, 1, 11); font-weight: bold;  background-image: linear-gradient(135deg, #000000 0%, #777d66 100%);   -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;">Patient Address</th>
<th style="color:rgb(11, 1, 11); font-weight: bold;  background-image: linear-gradient(135deg, #000000 0%, #777d66 100%);   -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;">Patient Phone</th>
<th style="color:rgb(11, 1, 11); font-weight: bold;  background-image: linear-gradient(135deg, #000000 0%, #777d66 100%);   -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;">Patient CNIC</th>
<th style="color:rgb(11, 1, 11); font-weight: bold;  background-image: linear-gradient(135deg, #000000 0%, #777d66 100%);   -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;">Patient Isolation Center</th>
<th style="color:rgb(11, 1, 11); font-weight: bold;  background-image: linear-gradient(135deg, #000000 0%, #777d66 100%);   -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;">Patient Quarantine Center</th>
<th style="color:rgb(11, 1, 11); font-weight: bold;  background-image: linear-gradient(135deg, #000000 0%, #777d66 100%);   -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;">Patient City</th>
<th style="color:rgb(11, 1, 11); font-weight: bold;  background-image: linear-gradient(135deg, #000000 0%, #777d66 100%);   -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;">Patient Province</th>
<th style="color:rgb(11, 1, 11); font-weight: bold;  background-image: linear-gradient(135deg, #000000 0%, #777d66 100%);   -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;">Patient Status</th>
	</tr>
  
</div>
</div>
	</table>
</section>
