<!DOCTYPE HTML>
<html>
<head>
<title>
HPI - Administration Database
</title>
<!-- <link rel="stylesheet" type="text/css" href="pak-style.css"> -->

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <link rel="stylesheet" href="css/isolation.css">

  <header>

<nav class = "topnavbar">
<ul class ="nav_links">
  <li><a  href="Home">HOME</a></li>
  <li><a class="active" href="pak-stats">STATISTICS</a></li>
  <li><a href="Contact">CONTACT</a></li>
</ul>
</nav>
</header>
<br>
<div class="sidebar">
<ul>
<li><a href="patient-add"><i class="fas fa-user-injured"></i>Patient</a></li>
<li><a href="doctor-add"><i class="fas fa-user-md"></i>Doctor</a></li>
<li><a href="quarantine-add"><i class="fas fa-building"></i>Quarantine Ward</a></li>
<li class= "active-ul"><a href="isolation-add"><i class="fas fa-procedures"></i>Isolation Ward</a></li>
<li><a href="logs"><i class="fas fa-server"></i>Logs</a></li>
</ul>
</div>
<section class ="Form-section">
<div class="navbar-2">
  <ul>
    <li><a  href="patient-add">Add Record</a></li>
    <li><a href="patient-delete">Delete Record</a>
    <li><a class="active-sub" href="patient-update">Update Record</a>
      <li><a href="patient-display">Search Record</a>
  </ul>
</div>
<br><br>
  <h2>Update Patient Record</h2>
  <hr><br>

  <form id="form1" name="form1" method="POST" action="">

  <input type="text" name="id" class = "first" placeholder="Patient ID">
  <input type="text" name="name" class = "second" placeholder= "Full Name">
  <input type="text" name="province" class = "first" placeholder= "Province Name">
  <input type="text" name="city"class = "second" placeholder="City Name">
  <input type="text" name="address" class = "third" placeholder= "Complete Address">
  <input type="text" name="cnic" class = "first" placeholder="CNIC">
  <input type="text" name="age" class = "second" placeholder="Patient Age">
  <input type="text" name="phone_no"class = "first" placeholder="Phone Number">
  <select id="text" name="gender" class = "gender-type" placeholder ="Gender">
    <option value="none" selected disabled hidden>
          Select Gender
      </option>
  <option value="Male">Male</option>
  <option value="Female">Female</option>
</select>
<select id="text" name="ward" class = "gender-type-first" placeholder ="Gender">
  <option value="none" selected disabled hidden>
        Select Ward
    </option>
<option value="None">None</option>
<option value="Isolation_Center">Isolation Center</option>
<option value="Quarantine_Center">Quarantine Center</option>
</select>
<input type="text" name="ward_id" class = "second" placeholder="Ward ID">
<select id="text" name="p_status" class = "gender-type-first" placeholder ="Status">
  <option value="none" selected disabled hidden>
        Select Patient Status
    </option>
<option value="active_status">ACTIVE</option>
<option value="discharged">DISCHARGED</option>
<option value="death">DEATH</option>
</select>
  <input type="submit" name="submit" value="UPDATE RECORD">

  </form>
</section>


  </body>
</html>



