<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/Registration.css">
    <style>
        .serif{
            text-align: center;
        }
    </style>

<body>
<br>
<br>
<div >
  
  <form  id="form1" action = "/register" name="form1" method="POST"  class="icontainer">
    <br>
    <h1 class="serif">Covid Management System</h1>
    
<img  src="images/login_pic.jpeg" alt="IMG" style="width: 250px;height: 250px;float: left;">
<div class="new">
  
    <label  style="color: white; border-radius: 66px;margin-right: 125px;" for="uname"></label>
    <input style=" border-radius: 70px;" type="text" placeholder="Enter Username" name="username" required></input>
</div>

<div class="new">
  
    <label  style="color: white; border-radius: 66px;margin-right: 125px;" for="uphone"></label>
    <input style=" border-radius: 70px;" type="number" placeholder="Enter your phone no" name="phone" required></input>
</div>

<div class="new">
  
    <label  style="color: white; border-radius: 66px;margin-right: 125px;" for="uaddress"></label>
    <input style=" border-radius: 70px;" type="text" placeholder="Enter your address" name="address" required></input>
</div>

<div class="new">
    
      <label  style="color: white; border-radius: 66px;margin-right: 125px;" for="mail"></label>
      <input style=" border-radius: 70px;" type="email" placeholder="Enter your email" name="umail" required></input>
  </div>

<div class="new">
    <label style="color: white;margin-right: 375px;"  for="psw"></label>
    <input style=" border-radius: 70px;"type="password" placeholder="Enter Password" name="password" required>
    </input> </div>
    <br>
    
<br>

<div >
    <input style="margin-left: 375px;" id="sub" type="submit" name="submit" value="Register"></input>
 </div>
  </form>